.gameSubEntry:not(.old-school) {
	animation: flyin 0.5s ease forwards;
	opacity: 0;
	transform: scale(2);
	/* SEE NOTE IN JAVASCRIPT */
	-webkit-filter: blur(4px);
	display:inline;
	display:inline-block;
	position: relative;
}

@keyframes flyin {
	to {
		-webkit-filter: blur(0);
		transform: scale(1);
		opacity: 0.85;
		mix-blend-mode: screen;
	}
}

/* !!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!! */
/* !!TO USE THE BELOW, DECLARE "flashit" in class!!!! */
/* !!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!! */
.flashit{
	-webkit-animation: flash linear 0.11s 4;
	animation: flash linear 0.11s 4;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}


/* !!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!! */
/* !!TO USE THE BELOW, DECLARE "pure-button fuller-button blue" in class!!!! */
/* !!!!!class name blue can be red and white!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!! */

.flex-grid-center {
	display: flex;
	justify-content: center;
	margin: 5em 0;
}

.fuller-button {
	color: white;
	background: none;
	border-radius: 0;
	padding: 1.2em 5em;
	letter-spacing: 0.35em;
	font-size: 0.7em;
	transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
	margin: 1em;
}
.fuller-button.blue {
	box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5), 0 0 1em rgba(0, 170, 170, 0.5);
	border: #0dd solid 2px;
}
.fuller-button.blue:hover {
	background-color: #0dd;
	box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5), 0 0 1.5em rgba(0, 170, 170, 0.7);
}
.fuller-button.red {
	box-shadow: inset 0 0 1em rgba(251, 81, 81, 0.4), 0 0 1em rgba(251, 81, 81, 0.4);
	border: #fb5454 solid 2px;
}
.fuller-button.red:hover {
	background-color: #fb5454;
	box-shadow: inset 0 0 0 rgba(251, 81, 81, 0.4), 0 0 1.5em rgba(251, 81, 81, 0.6);
}
.fuller-button.white {
	box-shadow: inset 0 0 0.8em rgba(255, 255, 255, 0.3), 0 0 0.8em rgba(255, 255, 255, 0.3);
	border: #fff solid 2px;
}
.fuller-button.white:hover {
	color: rgba(0, 0, 0, 0.8);
	background-color: #fff;
	box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.3), 0 0 1.2em rgba(255, 255, 255, 0.5);
}

.pure-control-group {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 0 1em 2.6em 1em;
}

.pure-form .pure-control-group label {
	text-align: left;
	position: absolute;
	left: 0;
	top: 15%;
	z-index: 0;
	letter-spacing: 0;
	margin: 0 1em;
}

.pure-form .pure-control-group input {
	background: none;
	box-shadow: none;
	padding-left: 0;
	border-radius: 0;
	border: none;
	border-bottom: 2px solid rgba(255, 255, 255, 0.4);
	position: relative;
	z-index: 1;
	color: #fff;
}

.pure-form .pure-control-group input:focus {
	border-bottom: 2px solid white;
}

.pure-form .pure-control-group textarea {
	background: none;
	box-shadow: none;
	border-radius: 0;
	border: none;
	border-left: 2px solid rgba(255, 255, 255, 0.4);
	resize: none;
	height: 8em;
	color: #fff;
}

.pure-form .pure-control-group textarea:focus {
	border-left: 2px solid white;
}

.pure-form .pure-control-group input[type=email]:focus:invalid {
	color: #fff;
}

.pure-form .pure-control-group input[type=email]:invalid {
	color: #fb5454;
}

.pure-form button {
	margin: 0.5em 1em;
}


/* !!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!! */
/* !!example usage: 		<a href="#" class="btn-wrapper">
 < div class="btn-tail"></div>
 <div class="btn-body">
 <p>Log in<span style='font-size: 0.7rem; margin-left: 5px;'>CSS Only</span></p>
 </div>
 </a> !!!! */
/* !!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!! */




.btn-wrapper:not(:first-child) {
	margin-top: 15px;
}

.btn-wrapper {
	display: grid;
	grid-template-columns: 20px auto;
	grid-gap: 10px;
	min-width: 11%;
	height: 35px;
	margin-left: 10px;
	transform: skewX(-30deg);
	
	--bg-color: #2196f3;
	--font-color: #ffffff;
	--bg-color-hovered: #ffffff;
	--font-color-hovered: black;
}

.btn-wrapper > * {
	background-color: var(--bg-color);
}

.btn-wrapper:hover .btn-tail {
	background-color: var(--bg-color-hovered);
}

.btn-body {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: var(--font-color);
}

.btn-wrapper:hover .btn-body {
	color: var(--font-color-hovered);
	
}

.btn-body::before {
	content: "";
	position: absolute;
	width: 0;
	height: 100%;
	left: 0;
	top: 0;
	background-color: var(--bg-color-hovered);
	transition: all 0.3s ease-out;
	
}

.btn-wrapper:hover .btn-body::before {
	width: 100%;
}

.btn-body p {
	margin-left: 15px;
	font-size: 0.75rem;
	font-weight: bold;
	transform: skewX(30deg);
}

.btn-tail {
	transition: all 0s ease-out 0.3s;
}

.btn-wrapper:hover .btn-tail {
	transition: none;
}


/*ssliding menu!*/
.slidingMenu{
	position:absolute;
	width:100%;
	height:100%;
	overflow: hidden;
	overflow-wrap: break-word;
}

.slidingMenuSub1{
	mix-blend-mode: screen; 
	font-size:160%;
	background-image:url('assets/miniWhiteBtn.png');
	text-align: center; /* Center text */
	background-repeat: no-repeat; 
	background-size: 100% 100%;
	color:black;
	width:100%;
	top:0%;
	height:11.1%;
	position:absolute;
	animation-name: slidingMenuSub1Anime;
	animation-duration: 0.35s;
	animation-iteration-count: 1;
	animation-delay: 0s;
	left:0%;
	animation-fill-mode: backwards;
	line-height: 1;
	vertical-align: middle;
	opacity: 0.7;
}

@keyframes slidingMenuSub1Anime{
	0% {left:100%; opacity:0;}
	30% {
		left:0%;
		mix-blend-mode: screen; 
		color:black;
		opacity: 1;
	}
	100%{
		left:0%;
		background-image:url('assets/miniWhiteBtn.png');
		mix-blend-mode: screen; 
		color:black;
		opacity: 0.7;
	}
}
.slidingMenuSub1:hover {
	opacity: 1;
}
.slidingMenuSub2{
	mix-blend-mode: screen; 
	font-size:160%;
	background-image:url('assets/miniWhiteBtn.png');
	text-align: center; /* Center text */
	background-repeat: no-repeat; 
	background-size: 100% 100%;
	color:black;
	width:100%;
	top:14%;
	height:11.1%;
	position:absolute;
	animation-name: slidingMenuSub2Anime;
	animation-duration: 0.35s;
	animation-iteration-count: 1;
	animation-delay: 0.2s;
	left:0%;
	animation-fill-mode: backwards;
	line-height: 1;
	vertical-align: middle;
	opacity: 0.7;
	
}

@keyframes slidingMenuSub2Anime{
	0% {left:100%; opacity:0;}
	30% {
		left:0%;
		mix-blend-mode: screen; 
		color:black;
		opacity: 1;
	}
	100%{
		left:0%;
		background-image:url('assets/miniWhiteBtn.png');
		mix-blend-mode: screen; 
		color:black;
		opacity: 0.7;
	}
}
.slidingMenuSub2:hover {
	opacity: 1;
}
.slidingMenuSub3{
	mix-blend-mode: screen; 
	font-size:160%;
	background-image:url('assets/miniWhiteBtn.png');
	text-align: center; /* Center text */
	background-repeat: no-repeat; 
	background-size: 100% 100%;
	color:black;
	width:100%;
	top:28%;
	height:11.1%;
	position:absolute;
	animation-name: slidingMenuSub3Anime;
	animation-duration: 0.35s;
	animation-iteration-count: 1;
	animation-delay: 0.4s;
	left:0%;
	animation-fill-mode: backwards;
	line-height: 1;
	vertical-align: middle;
	opacity: 0.7;
	
}

@keyframes slidingMenuSub3Anime{
	0% {left:100%; opacity:0;}
	30% {
		left:0%;
		mix-blend-mode: screen; 
		color:black;
		opacity: 1;
	}
	100%{
		left:0%;
		background-image:url('assets/miniWhiteBtn.png');
		mix-blend-mode: screen; 
		color:black;
		opacity: 0.7;
	}
}
.slidingMenuSub3:hover {
	opacity: 1;
}
.slidingMenuSub4{
	mix-blend-mode: screen; 
	font-size:160%;
	background-image:url('assets/miniWhiteBtn.png');
	text-align: center; /* Center text */
	background-repeat: no-repeat; 
	background-size: 100% 100%;
	color:black;
	width:100%;
	top:42%;
	height:11.1%;
	position:absolute;
	animation-name: slidingMenuSub4Anime;
	animation-duration: 0.35s;
	animation-iteration-count: 1;
	animation-delay: 0.6s;
	left:0%;
	animation-fill-mode: backwards;
	line-height: 1;
	vertical-align: middle;
	opacity: 0.7;
	
}

@keyframes slidingMenuSub4Anime{
	0% {left:100%; opacity:0;}
	30% {
		left:0%;
		mix-blend-mode: screen; 
		color:black;
		opacity: 1;
	}
	100%{
		left:0%;
		background-image:url('assets/miniWhiteBtn.png');
		mix-blend-mode: screen; 
		color:black;
		opacity: 0.7;
	}
}
.slidingMenuSub4:hover {
	opacity: 1;
}
.slidingMenuSub5{
	mix-blend-mode: screen; 
	font-size:160%;
	background-image:url('assets/miniWhiteBtn.png');
	text-align: center; /* Center text */
	background-repeat: no-repeat; 
	background-size: 100% 100%;
	color:black;
	width:100%;
	top:56%;
	height:11.1%;
	position:absolute;
	animation-name: slidingMenuSub5Anime;
	animation-duration: 0.35s;
	animation-iteration-count: 1;
	animation-delay: 0.8s;
	left:0%;
	animation-fill-mode: backwards;
	line-height: 1;
	vertical-align: middle;
	opacity: 0.7;
	
}

@keyframes slidingMenuSub5Anime{
	0% {left:100%; opacity:0;}
	30% {
		left:0%;
		mix-blend-mode: screen; 
		color:black;
		opacity: 1;
	}
	100%{
		left:0%;
		background-image:url('assets/miniWhiteBtn.png');
		mix-blend-mode: screen; 
		color:black;
		opacity: 0.7;
	}
}
.slidingMenuSub5:hover {
	opacity: 1;
}
.slidingMenuSub6{
	mix-blend-mode: screen; 
	font-size:160%;
	background-image:url('assets/miniWhiteBtn.png');
	text-align: center; /* Center text */
	background-repeat: no-repeat; 
	background-size: 100% 100%;
	color:black;
	width:100%;
	top:50%;
	height:11.1%;
	position:absolute;
	animation-name: slidingMenuSub6Anime;
	animation-duration: 0.35s;
	animation-iteration-count: 1;
	animation-delay: 1s;
	left:0%;
	animation-fill-mode: backwards;
	line-height: 1;
	vertical-align: middle;
	opacity: 0.7;
	
}

@keyframes slidingMenuSub6Anime{
	0% {left:100%; opacity:0;}
	30% {
		left:0%;
		mix-blend-mode: screen; 
		color:black;
		opacity: 1;
	}
	100%{
		left:0%;
		background-image:url('assets/miniWhiteBtn.png');
		mix-blend-mode: screen; 
		color:black;
		opacity: 0.7;
	}
}
.slidingMenuSub6:hover {
	opacity: 1;
}
.slidingMenuSub7{
	mix-blend-mode: screen; 
	font-size:160%;
	background-image:url('assets/miniWhiteBtn.png');
	text-align: center; /* Center text */
	background-repeat: no-repeat; 
	background-size: 100% 100%;
	color:black;
	width:100%;
	top:60%;
	height:11.1%;
	position:absolute;
	animation-name: slidingMenuSub7Anime;
	animation-duration: 0.35s;
	animation-iteration-count: 1;
	animation-delay: 1.2s;
	left:0%;
	animation-fill-mode: backwards;
	line-height: 1;
	vertical-align: middle;
	opacity: 0.7;
	
}

@keyframes slidingMenuSub7Anime{
	0% {left:100%; opacity:0;}
	30% {
		left:0%;
		mix-blend-mode: screen; 
		color:black;
		opacity: 1;
	}
	100%{
		left:0%;
		background-image:url('assets/miniWhiteBtn.png');
		mix-blend-mode: screen; 
		color:black;
		opacity: 0.7;
	}
}
.slidingMenuSub7:hover {
	opacity: 1;
}
.slidingMenuSub8{
	mix-blend-mode: screen; 
	font-size:160%;
	background-image:url('assets/miniWhiteBtn.png');
	text-align: center; /* Center text */
	background-repeat: no-repeat; 
	background-size: 100% 100%;
	color:black;
	width:100%;
	top:70%;
	height:11.1%;
	position:absolute;
	animation-name: slidingMenuSub8Anime;
	animation-duration: 0.35s;
	animation-iteration-count: 1;
	animation-delay: 1.4s;
	left:0%;
	animation-fill-mode: backwards;
	line-height: 1;
	vertical-align: middle;
	opacity: 0.7;
	
}

@keyframes slidingMenuSub8Anime{
	0% {left:100%; opacity:0;}
	30% {
		left:0%;
		mix-blend-mode: screen; 
		color:black;
		opacity: 1;
	}
	100%{
		left:0%;
		background-image:url('assets/miniWhiteBtn.png');
		mix-blend-mode: screen; 
		color:black;
		opacity: 0.7;
	}
}
.slidingMenuSub8:hover {
	opacity: 1;
}
.slidingMenuSub9{
	mix-blend-mode: screen; 
	font-size:160%;
	background-image:url('assets/miniWhiteBtn.png');
	text-align: center; /* Center text */
	background-repeat: no-repeat; 
	background-size: 100% 100%;
	color:black;
	width:100%;
	top:80%;
	height:11.1%;
	position:absolute;
	animation-name: slidingMenuSub9Anime;
	animation-duration: 0.35s;
	animation-iteration-count: 1;
	animation-delay: 1.6s;
	left:0%;
	animation-fill-mode: backwards;
	line-height: 1;
	vertical-align: middle;
	opacity: 0.7;
	
}

@keyframes slidingMenuSub9Anime{
	0% {left:100%; opacity:0;}
	30% {
		left:0%;
		mix-blend-mode: screen; 
		color:black;
		opacity: 1;
	}
	100%{
		left:0%;
		background-image:url('assets/miniWhiteBtn.png');
		mix-blend-mode: screen; 
		color:black;
		opacity: 0.7;
	}
}
.slidingMenuSub9:hover {
	opacity: 1;
}
.slidingMenuSub10{
	mix-blend-mode: screen; 
	font-size:160%;
	background-image:url('assets/miniWhiteBtn.png');
	text-align: center; /* Center text */
	background-repeat: no-repeat; 
	background-size: 100% 100%;
	color:black;
	width:100%;
	top:90%;
	height:11.1%;
	position:absolute;
	animation-name: slidingMenuSub10Anime;
	animation-duration: 0.45s;
	animation-iteration-count: 1;
	animation-delay: 1.8s;
	left:0%;
	animation-fill-mode: backwards;
	line-height: 1;
	vertical-align: middle;
	opacity: 0.7;
	
}

@keyframes slidingMenuSub10Anime{
	0% {left:100%; opacity:0;}
	30% {
		left:0%;
		mix-blend-mode: screen; 
		color:black;
		opacity: 1;
	}
	100%{
		left:0%;
		background-image:url('assets/miniWhiteBtn.png');
		mix-blend-mode: screen; 
		color:black;
		opacity: 0.7;
	}
}
.slidingMenuSub10:hover {
	opacity: 1;
}

hr { 
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left,#8c8b8b, #f0f0f0, #8c8b8b);
	background-image: -moz-linear-gradient(left,#8c8b8b, #f0f0f0, #8c8b8b);
	background-image: -ms-linear-gradient(left,#8c8b8b, #f0f0f0, #8c8b8b);
	background-image: -o-linear-gradient(left,#8c8b8b, #f0f0f0, #8c8b8b);
}
