@font-face { font-family: JuneBug; src: url('assets/iosevka-ss09-extralight.ttf'); }
@font-face { font-family: JuneBug2; src: url('assets/Monoid-Regular.ttf'); }
@font-face { font-family: JuneBug3; src: url('assets/Envy Code R.ttf'); }
body {font-family: Arial, Helvetica, sans-serif;}



.image-container {
	background-image: url("assets/01warlord_bg.jpeg");
	background-size: cover;
	position: absolute;
	height: 101%;
	width: 101%;
	left:-1%;
	top: -1%;
	overflow:hidden;
	background-position: center;
	background-repeat: no-repeat;

}



.loginbox{
	position:absolute;
	width:100%;
	height:100%;
	top:50%;
	left:50%;
	
}
.logininput{
	background-color: white;
	transform: translate(-50%, -50%);
	mix-blend-mode: screen;
	z-index:1;
	height:20%;
	top: 50%;
	left: 50%;
	width:30%;
}
.shader{
	position:absolute;
	width:100%;
	height:100%;
	top:-5%;
	left:-12%;
	background-color:rgba(33,150,243,0.7);
	z-index:0;
	height: 20%;
	width: 30%;
}


<!--LOBBY STYLES--!>

.lobbyContainer {
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url(assets/01warlord_bg.jpeg);
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}

.lobbyContent {
	width: 40%;
	height: 90%;
	position: absolute;
	top: 6%;
	left: 17%;  
	margin-top:0px;
	margin-left: 0px;
	border-radius: 8px;
	box-shadow: 0 10px 20px rgba(100,100,100,0.5);
	overflow: hidden;
	z-index: 2;
	padding: 50px;
	box-sizing: border-box;

}


.lobbyContent::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-filter: brightness(80%) blur(20px);
	-moz-filter: brightness(80%) blur(20px);
	-ms-filter: brightness(80%) blur(20px);
	-o-filter: brightness(80%) blur(20px);
	filter: brightness(80%) blur(20px);

	z-index: -1;
	margin: -30px;
	background-image: url(assets/01warlord_bg.jpeg);
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;

}
<!--LOBBY LEFT MENU--!>
.fancyButton{
 margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #031321;

 
}

.fancyButton_txt{
  position: absolute;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  width: 8vw;
  font-size: 1.2vw;
  overflow: hidden;
  transition: 0.2s;
  top: 80%;
  left: 80%;
   font-family: JuneBug2;
}
.fancyButton_txt:hover{
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 1s;
}
.fancyButton_txt span{
  position: absolute;
  display: block;
}
.fancyButton_txt span:nth-child(1)  {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#2196f3);
}
.fancyButton_txt:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}
.fancyButton_txt span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#2196f3);
}
.fancyButton_txt:hover span:nth-child(3) {
  left: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
.fancyButton_txt span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#2196f3);
}
.fancyButton_txt:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
.fancyButton_txt span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#2196f3);
}
.fancyButton_txt:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
<!--GAME ENTRY--!>

.gameSubEntry{


}
.gameInnerSubEntry{


}
.gameInnerSubEntry:hover{

}
<!--CHAT STYLES--!>

.chatContainer {
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url(assets/01warlord_bg.jpeg);
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}

.chatContent {
	width: 35%;
	height: 51%;
	position: absolute;
	top: 45%;
	right: 1%;  
	margin-top:0px;
	margin-left: 0px;
	border-radius: 8px;
	box-shadow: 0 10px 20px rgba(100,100,100,0.5);
	overflow: hidden;
	z-index: 2;
	padding: 50px;
	box-sizing: border-box;
}

.chatContent::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-filter: blur(20px);
	-moz-filter: blur(20px);
	-ms-filter: blur(20px);
	-o-filter: blur(20px);
	filter: blur(20px);
	z-index: -1;
	margin: -30px;
	background-image: url(assets/01warlord_bg.jpeg);
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

li {
display:inline;
  display:inline-block;
  padding:1px 1%;
}


.username:hover{
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0s;
}
.gameInnerSubEntryTXT{

color: #255784; 
}
.gameInnerSubEntryTXT:hover{
  color: #00ffff;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0s;
  mix-blend-mode: normal;
}

.chatClose{
  background-color:rgba(105,105,105,0.3);
   color: #ffffff; 

  
  padding-top: 5px;
  padding-bottom: 5px;
}

.chatClose:hover{
  color: #ffffff;
  background: #2196f3;
  background-color:#2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0s;
  padding-top: 5px;
  padding-bottom: 5px;
}

.chatAdd{
  background-color:rgba(105,105,105,0.3);
   color: #ffffff; 

  
padding-top: 0.1%; 
  padding-bottom: 0.3%;
}

.chatAdd:hover{
  color: #ffffff;
  background: #2196f3;
  background-color:#2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0s;
padding-top: 0.1%;
  padding-bottom: 0.3%;
}

.form__group {
	position: relative;
	padding: 15px 0 0;
	margin-top: 10px;
	width: 50%;
}

.form__field {
	font-family: inherit;
	width: 100%;
	border: 0;
	border-bottom: 2px solid #9b9b9b;
	outline: 0;
	font-size: 1.3rem;
	color: #fff;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;
}

.form__field::placeholder {
	color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
	font-size: 1.3rem;
	cursor: text;
	top: 20px;
}

.form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: #9b9b9b;
}

.form__field:focus {
	padding-bottom: 6px;
	font-weight: 700;
	border-width: 3px;
	border-image: linear-gradient(to right, #11998e, #38ef7d);
	border-image-slice: 1;
}

.form__field:focus ~ .form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: #11998e;
	font-weight: 700;
}

.form__field:required, .form__field:invalid {
	box-shadow: none;
}

.limitingframe::-webkit-scrollbar {
  width: 12px;
}

.limitingframe::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}
 
.limitingframe::-webkit-scrollbar-thumb {
  background: grey; 
}

.limitingframe::-webkit-scrollbar-thumb:hover {
  background: white; 
}

/*user cards*/

.userCard{
 overflow: hidden;
  background-image: linear-gradient(to right, rgba(33,150,243,1), rgba(33,150,243,0));
  mix-blend-mode: screen;
position: relative; height: 17%; width: 21%;margin:0.1%;heght:20%;display: inline-block;padding:1%;
}

.userCard:hover{

  background: white;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0s;
  mix-blend-mode: screen;
}

.friendlimitingFrame::-webkit-scrollbar {
  width: 12px;
}

.friendlimitingFrame::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}
 
.friendlimitingFrame::-webkit-scrollbar-thumb {
  background: grey; 
}

.friendlimitingFrame::-webkit-scrollbar-thumb:hover {
  background: white; 
}

/* a:hover {
  background-color: yellow;
}
*/

.exitGem:hover {
mix-blend-mode: screen; 

background-image:url('assets/miniWhiteBtn.png');
background-position: center; 
background-repeat: no-repeat; 
background-size: cover; 
height:7%; 
width:22%; 
position:relative;
 left:65%; 
 top:-4%; 
 z-index:4; 
    font-family: JuneBug3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0s;
  mix-blend-mode: screen;
}

.exitGem {
mix-blend-mode: screen; 

background-image:url('assets/miniCyanBtn.png');
background-position: center; 
background-repeat: no-repeat; 
background-size: cover; 
height:7%; 
width:22%; 
position:relative;
 left:65%; 
 top:-4%; 
 z-index:4; 
    font-family: JuneBug3;
}

.hostGem:hover {
mix-blend-mode: screen; 

background-image:url('assets/miniWhiteBtn.png');
background-position: center; 
background-repeat: no-repeat; 
background-size: cover; 
height:7%; 
width:22%; 
position:relative;
 left:65%; 
 top:-4%; 
 z-index:4; 
    font-family: JuneBug3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0s;
  mix-blend-mode: screen;
}

.hostGem {
mix-blend-mode: screen; 

background-image:url('assets/miniCyanBtn.png');
background-position: center; 
background-repeat: no-repeat; 
background-size: cover; 
height:7%; 
width:22%; 
position:relative;
 left:65%; 
 top:-4%; 
 z-index:4; 
    font-family: JuneBug3;
}




