@font-face { font-family: JuneBug; src: url('assets/iosevka-ss09-extralight.ttf'); }
@font-face { font-family: JuneBug2; src: url('assets/Monoid-Regular.ttf'); }
@font-face { font-family: JuneBug3; src: url('assets/Envy Code R.ttf'); }
body {font-family: "Roboto Condensed", sans-serif;}
@font-face { font-family: JuneBug4; src: url('assets/good_times_rg.ttf'); }

a {
	text-decoration: none;
	color: inherit;
}

.image-container {
	background-image: url("assets/01warlord_bg.jpeg");
	background-size: cover;
	position: absolute;
	height: 101%;
	width: 101%;
	left:-1%;
	top: -1%;
	overflow:hidden;
	background-position: center;
	background-repeat: no-repeat;

}

.understood {

	
}

.understood:hover {
background:white;
color: black;
}



.loginbox{
	position:absolute;
	width:100%;
	height:100%;
	top:50%;
	left:50%;
	
}
.logininput{
	background-color: white;
	transform: translate(-50%, -50%);
	mix-blend-mode: screen;
	z-index:1;
	height:11vw;
	top: 50%;
	left: 50%;
	width:30vw;
}
.shader{
	position:absolute;
	
	
	top:-5%;
	left:-12%;
	background-color:rgba(33,150,243,0.7);
	z-index:0;
	height: 11vw;
	width: 30vw;
}


<!--LOBBY STYLES--!>

.lobbyContainer {
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url(assets/01warlord_bg.jpeg);
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}

.lobbyContent {
	width: 40%;
	height: 90%;
	position: absolute;
	top: 6%;
	left: 17%;  
	margin-top:0px;
	margin-left: 0px;
	border-radius: 8px;
	box-shadow: 0 10px 20px rgba(100,100,100,0.5);
	overflow: hidden;
	z-index: 2;
	padding: 50px;
	box-sizing: border-box;

}


.lobbyContent::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-filter: brightness(70%) blur(20px);
	-moz-filter: brightness(70%) blur(20px);
	-ms-filter: brightness(70%) blur(20px);
	-o-filter: brightness(70%) blur(20px);
	filter: brightness(70%) blur(20px);

	z-index: -1;
	margin: -30px;
	background-image: url(assets/01warlord_bg.jpeg);
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;

}



.chatContent {
	width: 35%;
	height: 51%;
	position: absolute;
	top: 45%;
	left: 64%;  
	margin-top:0px;
	margin-left: 0px;
	border-radius: 8px;
	box-shadow: 0 10px 20px rgba(100,100,100,0.5);
	overflow: hidden;
	z-index: 2;
	padding: 50px;
	box-sizing: border-box;
}

.chatContent::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-filter: brightness(70%) blur(20px);
	-moz-filter: brightness(70%) blur(20px);
	-ms-filter: brightness(70%) blur(20px);
	-o-filter: brightness(70%) blur(20px);
	filter: brightness(70%) blur(20px);
	z-index: -1;
	margin: -30px;
	background-image: url(assets/01warlord_bg.jpeg);
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

li {
display:inline;
  display:inline-block;
  padding:1px 1%;
}


.username:hover{
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0s;
}
.gameInnerSubEntryTXT{

color: #255784; 
}
.gameInnerSubEntryTXT:hover{
  color: #00ffff;
  background: #2196f3;
  box-shadow: 0 0 5px #2196f3, 0 0 20px #2196f3, 0 0 40px #2196f3;
  transition-delay: 0s;
  mix-blend-mode: normal;
}

.chatClose{
  background-color:rgba(105,105,105,0.3);
   color: #ffffff; 

  
  padding-top: 5px;
  padding-bottom: 5px;
}

.chatClose:hover{
  color: #ffffff;
  background: #2196f3;
  background-color:#2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0s;
  padding-top: 5px;
  padding-bottom: 5px;
}

.Add{
  
   color: rgba(255,255,255,0.6);

  

}

.Add:hover{
	color: rgba(255,255,255,1);
  
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0s;

}

.form__group {
	position: relative;
	padding: 15px 0 0;
	margin-top: 10px;
	width: 50%;
}

.form__field {
	font-family: inherit;
	width: 100%;
	border: 0;
	border-bottom: 2px solid #9b9b9b;
	outline: 0;
	font-size: 1.3rem;
	color: #fff;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;
}

.form__field::placeholder {
	color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
	font-size: 1.3rem;
	cursor: text;
	top: 20px;
}

.form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: #9b9b9b;
}

.form__field:focus {
	padding-bottom: 6px;
	font-weight: 700;
	border-width: 3px;
	border-image: linear-gradient(to right, #11998e, #38ef7d);
	border-image-slice: 1;
}

.form__field:focus ~ .form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: #11998e;
	font-weight: 700;
}

.form__field:required, .form__field:invalid {
	box-shadow: none;
}

.limitingframe::-webkit-scrollbar {
  width: 12px;
}

.limitingframe::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}
 
.limitingframe::-webkit-scrollbar-thumb {
  background: grey; 
}

.limitingframe::-webkit-scrollbar-thumb:hover {
  background: white; 
}

/*user cards*/

.userCard{
 overflow: visible;
mix-blend-mode: screen;
position: relative; height: 17%; width: 23%;margin:0.1%;heght:20%;display: inline-block;padding:1%;
}

.userCard:hover{
	overflow: visible;
	mix-blend-mode: screen;
	position: relative; height: 17%; width: 23%;margin:0.1%;heght:20%;display: inline-block;padding:1%;
	animation-fill-mode: forwards;
	animation-name: userCardInflate;
	animation-duration: 0.7s;
	animation-iteration-count: 1;
	animation-delay:0.3s;
}

@keyframes userCardInflate {
	
	0%   {position: relative; height: 17%; width: 23%;margin:0.1%;heght:20%;display: inline-block;padding:1%; }
	70%   {position: relative; height: 17%; width: 25%;margin:0.1%;heght:20%;display: inline-block;padding:1%; }
	100% {position: relative; height: 17%; width: 30%;margin:0.1%;heght:20%;display: inline-block;padding:1%;}
}

.spinningIcon{
	
	animation-fill-mode: forwards;
	animation-name: spinningIconAni;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-delay:1s;
}

@keyframes spinningIconAni {
	
	0%   {transform: rotate(0deg); }
	85%   {transform: rotate(360deg); }

	100%   {transform: rotate(360deg); }
}





.frdSubOptions{
	position:absolute;
	color:white;
}

.frdSubOptions:hover{
	color:black;
	background:white;
}








.freundBody{
	overflow: hidden;
	
	mix-blend-mode: screen;

}
.freundBody:hover{

  
  box-shadow: 0 0 10px #2196f3, 0 0 10px #2196f3, 0 0 2px #2196f3;
  transition-delay: 0s;
  mix-blend-mode: screen;
}

.isLeader{
	opacity: 0;
}



.friendlimitingFrame::-webkit-scrollbar {
  width: 12px;
}

.friendlimitingFrame::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}
 
.friendlimitingFrame::-webkit-scrollbar-thumb {
  background: grey; 
}

.friendlimitingFrame::-webkit-scrollbar-thumb:hover {
  background: white; 
}

/* a:hover {
  background-color: yellow;
}
*/


.lobbyCTLBTN:hover {
mix-blend-mode: screen; 
background-image:url('assets/miniWhiteBtn.png');
background-repeat: no-repeat; 
background-size: 100% 100%;
height:7%; 
width:22%; 
position:absolute;

 z-index:4; 
    font-family: JuneBug3;
	/*filter: drop-shadow(0 0 0.75rem #2196f3);*/
	filter: drop-shadow(0.4rem 0.5rem 0.2rem rgba(200,200,200,0.6));
  transition-delay: 0s;
  mix-blend-mode: screen;
}

.lobbyCTLBTN {
mix-blend-mode: screen; 
filter: drop-shadow(0.4rem 0.5rem 0.2rem rgba(200,200,200,0.3));
background-image:url('assets/miniCyanBtn.png');
background-repeat: no-repeat; 
background-size: 100% 100%;
height:7%; 
width:22%; 
position:absolute;
 
 z-index:4; 
    font-family: JuneBug3;
}

.settingSubContent{
	color:white
}
.settingSubContent:hover{
	background:white;
	color:black;
}
.settingSubContentSel{
	background:white;
	color:black;
}
.bg {
	
	background: linear-gradient(to bottom, #1e5799 -75%, rgba(0, 29, 60, 0) 75%);
	width: 100%;
	height: 20%;
	
	position: absolute;
}

.content {
	color: #fff;
	position: absolute;
	top: 280%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: 0 auto;
	display: block;
	text-align: center;
	height:100%;
	width:100%;
}

#c {
position: absolute;
width:100%;
height:100%;
opacity: 0.2;
pointer-events: none;

}

.btn-outline {
	color: #fff;
	border: 2px solid #fff;
	font-family: "Exo", serif;
	font-weight: 500;
	letter-spacing: 0.05em;
	border-radius: 0;
	cursor: pointer;
}
.btn-outline span {
	position: relative;
	z-index: 99;
	transition: all 0.5s ease;
}



.edgy-link {
	position: relative;
}
.edgy-link span {
	position: relative;
	z-index: 999;
}
.edgy-link::after {
	content: "";
	position: absolute;
	width: 0;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	top: 0;
	left: 0;
	transition: all 0.55s ease;
}
.edgy-link::before {
	content: "";
	position: absolute;
	width: 0;
	height: 100%;
	background: white;
	top: 0;
	left: 0;
	transition: all 0.35s ease;
}
.edgy-link:hover span {
	color: #001d3c;
}
.edgy-link:hover::after {
	width: 100%;
	transition: all 0.35s ease;
}
.edgy-link:hover::before {
	width: 100%;
	transition: all 0.55s ease;
}












